body { margin:0;background:#1b2727; font-family: Trebuchet MS, Arial, sans-serif;}
div {border-style: none;}
p,h1 {text-align: center;}
.mnu {color:white;width:100%;transition: 0.5s;  border-top: 2px solid transparent; border-bottom: 2px solid transparent;
	display:flex;
	-ms-align-items: center;
	align-items: center;
}
.mnu span{margin-right: 20px; margin-left: 20px; font-size: 20px;}
.mnu>p {margin-left: 20px; width: 100%;}
span>.small-text{margin-left: 0px; font-size: 0.6em;}
.mnu:nth-child(even) {background-color: #8785A1;}
.mnu:nth-child(odd) {background-color: #ADAACE;}
.mnu:hover{background-color: #5B587D;border-top: 2px solid white; border-bottom: 2px solid white; border-left: solid white 1px; border-right: solid white 1px;}
.main-mnu {padding:35px 0px 35px 0px; width:50%; margin:auto; min-width: 300px;}
.main-mnu input{margin:auto;}
.main-mnu p{text-align: left;}
header, footer {background-color: #2f413b; color: tomato;text-shadow: black 1px 1px 2px; padding: 10px 0px 10px 0px;}
footer {width:50%; margin:auto;  display: flex; align-items: center; justify-content: center;}
footer a{ text-decoration: none; color: tomato;}
[type="checkbox"]:checked +label{text-decoration: line-through; color: darkgrey;text-shadow: black 1px 1px 2px;}
::selection { text-shadow: silver -1px -1px 1px}

.active {color:red;}

.rem {
	height:100%;
	background-color: darkgray;
	color: silver;
	border-radius: 5px;
	font-size: 15px;
	text-shadow: black 1px 1px 1px;
	margin-right: 10px;
}
.form {
	margin: 60px auto 0 auto;
	width: 50%;
	display: flex;
}
.form input {
	flex-grow: 1;
}
.form button {
}

.hidden-info {
	font-size: 20px;
	line-height: 40px;
	display: inline-block;
	background-color: #0053A5;
	color: #fff;
	border-radius: 7px;
	min-height: 40px;
	text-align: center;
	position: relative;
	left:50%;
	transform: translateX(-50%);
	bottom:80px;
	padding: 0 10px 0 10px;
	opacity: 0;
	transition: .3s;
}
.hidden-info:after {
	content: '';
width: 0;
height: 0;
border-style: solid;
position: absolute;
border-width: 10px 10px 0 10px;
border-color: #0053A5 transparent transparent transparent;
left:40px;
bottom: -10px;
opacity: inherit;
}

.visible {
	opacity: .9;
}